<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_account.title %>
</p>

<%= link_to 'Edit', edit_admin_account_path(@admin_account) %> |
<%= link_to 'Back', admin_accounts_path %>
