<%= render "shared/banner" %>
<!-- Main -->
<main class="main-container">

    <!-- Section: About -->
    <section id="about" class="section">
        <div class="container">

            <!-- Section Header -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center">
                        <h2 class="section-title underline">About Us</h2>
                        <p class="section-subtitle">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                            alteration in some form, by injected humour.
                        </p>
                    </header>
                </div>
            </div>
            <!-- /Section Header -->

            <!-- Section Content -->
            <div class="row section-content">

                <!-- About Block -->
                <div class="col-md-3 col-sm-6 col animated fadeIn wow" data-wow-duration="0.9s">
                    <span class="icon icon_link"></span>
                    <h3 class="title">Web Design</h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available.
                    </p>
                </div>
                <!-- /About Block -->

                <!-- About Block -->
                <div class="col-md-3 col-sm-6 col animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.2s">
                    <i class="icon icon_cloud_alt"></i>
                    <h3 class="title">Frontend Development</h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available.
                    </p>
                </div>
                <!-- /About Block -->

                <!-- About Block -->
                <div class="col-md-3 col-sm-6 col animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.4s">
                    <span class="icon icon_easel"></span>
                    <h3 class="title">SEO Optimization</h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available.
                    </p>
                </div>
                <!-- /About Block -->

                <!-- About Block -->
                <div class="col-md-3 col-sm-6 col animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.6s">
                    <span class="icon icon_camera"></span>
                    <h3 class="title">Photography</h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available.
                    </p>
                </div>
                <!-- /About Block -->


            </div>
            <!-- /Section Content -->

        </div>
    </section>
    <!-- /Section: About -->
