<section style="background-image: url(<%= asset_path 'Ban2.png' %>); " class="secbg">
</section>


<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container">
    <div class="container">
        <div class="row">

            <div class="projects-list">

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-01.jpg">
                                <div class="information">
                                    <h3 class="title">App Screens</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-02.jpg">
                                <div class="information">
                                    <h3 class="title">iPhone SE</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-03.jpg">
                                <div class="information">
                                    <h3 class="title">Notebook</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-04.jpg">
                                <div class="information">
                                    <h3 class="title">iPad 2 Air Gravity</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-05.jpg">
                                <div class="information">
                                    <h3 class="title">Label Clothes</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-06.jpg">
                                <div class="information">
                                    <h3 class="title">Label Brand</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-07.jpg">
                                <div class="information">
                                    <h3 class="title">Kraft Labels Collection</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-08.jpg">
                                <div class="information">
                                    <h3 class="title">Double Gate Fold Brochure</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-09.jpg">
                                <div class="information">
                                    <h3 class="title">A4 Paper Gravity Presentation</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-10.jpg">
                                <div class="information">
                                    <h3 class="title">A4 Flyer Presentation</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-11.jpg">
                                <div class="information">
                                    <h3 class="title">iMac Cinema Monitor Style</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-xs-12 project">
                    <a href="single-project.html">
                        <div class="project-image-wrapper">
                            <div class="project-image">
                                <img src="images/project-12.jpg">
                                <div class="information">
                                    <h3 class="title">Disk and Folder</h3>
                                    <span class="category">Mockup</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <!-- Pagination -->
            <div class="col-md-12">
                <ul class="pagination">
                    <li><span>Page 1 of 5</span></li>
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
            <!-- /Pagination -->

        </div>
    </div>
</main>
